@font-face {
    font-family: "Minecraftia";
    src: url("/fonts/Minecraftia-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Minecraftia", sans-serif;
}

#root {
    width: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

html,
body {
    width: 100%;
    height: 100%;
    background-image: url("/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 10vh;
    margin-top: 17vh;
    margin-bottom: -3vh;
}

header {
    grid-area: header;
    width: 100%;
    padding: 2vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: footer;
    width: 100%;
    padding: 4vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    color: black;
    text-decoration: none;
}

main {
    grid-area: main;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    padding-inline: 4vh;
}

.totalLogros {
    position: fixed;
    top: 3vh;
    left: 4vh;

    font-size: 3vh;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    color: white;

    padding: 1vh 2vh;
    border-radius: 1vh;
    border: solid black 2px;
    width: 96.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid rgb(255, 255, 255) 5px;

    gap: 1vh;

    transition: all ease 1s;
}

.totalLogrosDeshabilitado {
    width: 2%;
    height: 15%;

    background-color: rgb(0, 0, 0);
    border: solid rgb(255, 255, 255) 5px;
}

.totalLogros > p {
    font-size: 4vh;
}

.totalLogros > div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2vh;

    width: 100%;
    background-color: greenyellow;
    height: 4vh;
    border-radius: 0.7vh;
    z-index: 0;
}

.totalLogros > div > p {
    margin: auto;
    height: 75%;
    z-index: 5;
    color: black;
}

#percentageBar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    background-color: green;
    border-radius: 0.5vh;
}

section#erasContainer {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;

    gap: 2vh;

    width: 100%;
    height: 100%;
}

section#erasContainer > section#eras {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: solid black 2px;
    height: 100%;
    border-radius: 1vh;
    padding: 1vh;
    background-color: rgba(0, 0, 0, 0.719);
}

section#erasContainer > section > h2 {
    font-size: 3.5vh;
    color: rgb(0, 238, 12);
}

#eras {
    width: 80%;
}

.eraContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-bottom: 2vh;

    /* border: solid black 2px;
    padding: 2vh;
    border-radius: 1vh; */
}

.eraContainer > h3 {
    font-size: 3.5vh;
    align-self: center;
    margin-top: 2vh;
    color: rgb(0, 238, 12);
}

.eraContainer > section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.retosContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 20%;
    border: solid black 10px;
    height: 100%;
    border-radius: 1vh;
    padding: 1vh;
}

.logrosContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    width: 95%;
    border: solid black 10px;
    height: 100%;
    border-radius: 1vh;
    padding: 1vh;
}
/* ------------------- */

section#misionesGenerales {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: solid black 2px;
    height: auto;
    border-radius: 1vh;
    padding: 2vh;
    background-color: rgba(0, 0, 0, 0.719);
}

@media (max-aspect-ratio: 16/8) {
    #eras {
        width: 75%;
    }

    section#misionesGenerales {
        width: 25%;
    }
}
