.logroComponent {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 48.4vh;
    margin: auto;
    margin-bottom: 1vh;
    border-radius: 1vh;
    border: solid rgb(255, 255, 255) 10px;
    transition: transform ease 0.5s;
}

.logroComponent.hovered {
    transform: scale(1.5);
}

.activeLogro {
    border: solid rgb(0, 255, 0) 20px;
    border-radius: 1vh;
    height: 19.5vh;
}

.logroComponent > img {
    width: 100%;
    height: 100%;
    border-radius: 0.5vh;
}
